{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="contact-section">
  <h1>Contact Me</h1>
  <p>Join my adventure and reach out with any questions or stories of your own—I love making new connections!</p>
  <div class="contact-links">
    <a href="https://www.instagram.com/annaaphan/" target="_blank" class="contact-link">
      <img src="{{ url_for('static', filename='main/images/instagram_icon.jpg') }}" alt="Instagram">
    </a>
    <a href="https://Linkedin.com/in/phannav" target="_blank" class="contact-link">
      <img src="{{ url_for('static', filename='main/images/social-linkedin.jpg') }}" alt="LinkedIn">
    </a>
    <a href="mailto:Phan.annavo@gmail.com" class="contact-link">
      <img src="{{ url_for('static', filename='main/images/mail-logo.jpg') }}" alt="Email">
    </a>
    <a href="https://www.tiktok.com/@annaaphan?_t=8lQScYPhHpK&_r=1" target="_blank" class="contact-link">
        <img src="{{ url_for('static', filename='main/images/tiktok-logo.jpg') }}" alt="TikTok">
      </a>
  </div>
</div>
{% endblock %}

