{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="photo-row">
  <div class="photo-container">
    <img src="../static/main/images/anna_profile.jpg"> 
      <div class="photo-caption">
          <span class="location-name">📍 Oahu,</span>
          <div class="country-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Hawaii</div>
      </div>
  </div>
  <div class="photo-container">
    <img src="../static/main/images/anna_profile.jpg"> 
      <div class="photo-caption">
          <span class="location-name">📍 Seoul,</span>
          <div class="country-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Korea</div>
      </div>
  </div>
  <div class="photo-container">
    <img src="../static/main/images/anna_profile.jpg">
      <div class="photo-caption">
          <span class="location-name">📍 Palawan,</span>
          <div class="country-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Philippines</div>
      </div>
  </div>
</div>

<div class="photo-row">
  <div class="photo-container">
    <img src="../static/main/images/anna_profile.jpg"> 
      <div class="photo-caption">
          <span class="location-name">📍 Guanajuato,</span>
          <div class="country-name">&nbsp;&nbsp;  Mexico</div>
      </div>
  </div>
  <div class="photo-container">
    <img src="../static/main/images/anna_profile.jpg"> 
      <div class="photo-caption">
          <span class="location-name">📍 Jeju,</span>
          <div class="country-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Korea</div>
      </div>
  </div>
  <div class="photo-container">
    <img src="../static/main/images/anna_profile.jpg">
      <div class="photo-caption">
          <span class="location-name">📍 Guadalajara,</span>
          <div class="country-name">&nbsp;&nbsp;  Mexico</div>
      </div>
  </div>
</div>

<div class="contact-links">
  <a href="https://www.instagram.com/annaaphan/" target="_blank" class="contact-link-small">
    <img src="{{ url_for('static', filename='main/images/instagram_icon.jpg') }}" alt="Instagram">
  </a>
  <a href="https://Linkedin.com/in/phannav" target="_blank" class="contact-link-small">
    <img src="{{ url_for('static', filename='main/images/social-linkedin.jpg') }}" alt="LinkedIn">
  </a>
  <a href="mailto:Phan.annavo@gmail.com" class="contact-link-small">
    <img src="{{ url_for('static', filename='main/images/mail-logo.jpg') }}" alt="Email">
  </a>
  <a href="https://www.tiktok.com/@annaaphan?_t=8lQScYPhHpK&_r=1" target="_blank" class="contact-link-small">
      <img src="{{ url_for('static', filename='main/images/tiktok-logo.jpg') }}" alt="TikTok">
    </a>
</div>
{% endblock %}


