{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="content-row">
  <div class="photo-column">
      <img src="../static/main/images/Website.png">
  </div>
  <div class="text-column">
      <h1>Alan Javier Fierro</h1>
      <p> 
          In the heart of Mexico, where vibrant culture and rich traditions weave through the fabric of everyday life, my story begins. I am Alan Fierro, a computer science aficionado at Michigan State University, driven by a mission to use technology to make a meaningful difference in the world. My journey from Mexico to the United States was not just a pursuit of academic excellence but a family adventure that led us to Texas, seeking new beginnings and opportunities.
          What many don't know about me is that beyond my passion for artificial intelligence and software development, I hold a black belt in Taekwondo. This discipline has taught me the values of perseverance, respect, and the importance of a focused mind—qualities that I apply to every line of code I write and every challenge I encounter in the tech world.
          In my quest to balance the scales of ambition and practicality, I joined the Air Force Reserves. This decision was fueled by my commitment to serve and protect, as well as a pragmatic approach to funding my college education. The experience has imbued me with a unique perspective on teamwork, leadership, and the resilience needed to thrive under pressure.
          Texas was more than just a stopover; it was where my family found a new home and where I learned to blend my Mexican heritage with the boundless opportunities of the American dream. The support and love of my family have been my north star, guiding me through transitions and inspiring me to aim higher.
          Now, at Michigan State University, I am not just navigating the complexities of computer science but also exploring the ethical dimensions of AI. My education is a tapestry of technical rigor, ethical considerations, and hands-on projects, each adding a stitch to the fabric of my future ambitions.
          I envision a future where technology serves as a bridge to a better world—where software not only innovates but uplifts. Whether it's through developing health access platforms, educational tools, or sustainability projects, I am committed to contributing to a future where technology enriches lives.
          But my journey is more than algorithms and code. It's about building a community where diversity of thought and collaboration lead to groundbreaking innovations. I believe in the power of inclusive tech communities, where every voice is heard, and every idea has the potential to spark change.
          From the lively streets of Mexico to the expansive horizons of Texas, and now the academic halls of Michigan State University, my journey is a testament to the power of resilience, the value of family, and the transformative potential of technology. With a black belt in Taekwondo, experience in the Air Force Reserves, and a heart full of ambition, I am ready to face the challenges of tomorrow, one project at a time.
      </p>
  </div>
</div>

<div class="bottom-page">
  <h1>A fun fact about me:</h1>
  <p>
      a fun fact about me <b> {{fun_fact}}</b>
  </p>
</div>
{% endblock %}


