{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/piano/css/piano.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='main/piano/js/piano.js') }}" defer></script>
{% endblock %}

{% block maincontent %}
<main>
    <div class='piano' contenteditable="false">
        <div class="description">
            <p> 
                Behold piano great and old, its master slumbers in far off cold, if you wish to see anew, call out to it - we see you. 
            </p>
        </div>
            <div class="piano-container">
                <div class="piano-title">The Great Old One</div>
                <div class="keys">
                    <div class="left-key-container">
                        <div class="key-white-outer" id="keyA"><span class="key-label-white">A</span></div>
                        <div class="key-white-outer" id="keyS"><span class="key-label-white">S</span></div>
                        <div class="key-white-outer" id="keyD"><span class="key-label-white">D</span></div>
                        <div class="key-black-outer" id="keyW"><span class="key-label-black">W</span></div>
                        <div class="key-black-outer" id="keyE"><span class="key-label-black">E</span></div>
                    </div>
                    <div class="middle-key-container">
                        <div class="key-white-middle" id="keyF"><span class="key-label-white">F</span></div>
                        <div class="key-white-middle" id="keyG"><span class="key-label-white">G</span></div>
                        <div class="key-white-middle" id="keyH"><span class="key-label-white">H</span></div>
                        <div class="key-white-middle" id="keyJ"><span class="key-label-white">J</span></div>
                        <div class="key-black-middle" id="keyT"><span class="key-label-black">T</span></div>
                        <div class="key-black-middle" id="keyY"><span class="key-label-black">Y</span></div>
                        <div class="key-black-middle" id="keyU"><span class="key-label-black">U</span></div>
                    </div>
                    <div class="right-key-container">
                        <div class="key-white-outer" id="keyK"><span class="key-label-white">K</span></div>
                        <div class="key-white-outer" id="keyL"><span class="key-label-white">L</span></div>
                        <div class="key-white-outer" id="key;"><span class="key-label-white">;</span></div>
                        <div class="key-black-outer" id="keyO"><span class="key-label-black">O</span></div>
                        <div class="key-black-outer" id="keyP"><span class="key-label-black">P</span></div>
                    </div>
                </div>
            </div>
            <img src="../static/main/piano/images/texture.jpeg" alt="The Great Old One" id="greatOldOneImage">
            <div id="awokenTitle">I have awoken</div>
        </div>
    </div>
</main>
{% endblock %}