{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/resume.css') }}">
{% endblock %}

{% block maincontent %}
<div class="container">
    {% for inst_id, inst in resume_data.items() %}
    <div class="institution">
        <div class="institution-header">
            <div class="name">{{ inst['name'] }}</div>
            <div class="location">
                {% if inst['department'] not in [None, 'NULL'] %}<span>{{ inst['department'] }}</span>{% endif %}
                {% if inst['address'] not in [None, 'NULL'] %}<span>{{ inst['address'] }}</span>{% endif %}
                {% if inst['city'] not in [None, 'NULL'] %}<span>{{ inst['city'] }},</span>{% endif %}
                {% if inst['state'] not in [None, 'NULL'] %}<span>{{ inst['state'] }}</span>{% endif %}
                {% if inst['zip'] not in [None, 'NULL'] %}<span>{{ inst['zip'] }}</span>{% endif %}
            </div>
        </div>
        {% if inst['positions'] %}
            {% for pos_id, pos in inst['positions'].items() %}
            <div class="position">
                <div class="position-header">
                    <div class="title">{{ pos['title'] }}</div>
                    <div class="dates">
                        {{ pos['start_date'] or '' }} - {{ pos['end_date'] or 'Present' }}
                    </div>
                </div>
                <div class="position-description">
                    {{ pos['responsibilities'] }}
                </div>
                {% if pos['experiences'] %}
                {% for exp_id, exp in pos['experiences'].items() %}
                <div class="experience">
                    <strong>{{ exp['name'] }}</strong>
                    <div>{{ exp['description'] }}</div>
                    {% if exp['skills'] %}
                    <ul class="skills">
                        {% for skill_id, skill in exp['skills'].items() %}
                        <li>{{ skill['name'] }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
