/* Main piano area styling */
.piano {
    position: relative; /* Needed to position the image over the piano */
    background-color: white; /* Set the background color to white */
    width: 100%; /* Adjust this to the desired width */
    height: 75vh; /* Adjust this to the desired height */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Align items to the start of the flex container */
    align-items: center; /* Center content vertically */
}

/* Container for piano keys, allowing for styling and interaction effects */
.piano-container {
    transition: opacity 2s ease-in-out; /* Smooth transition for the fade in */
    background-color: #222121; /* Dark grey color */
    border-radius: 10px; /* Rounded corners for the container */
    padding: 20px; /* Space around the keys inside the container */
    width: 50%; /* Only as wide as it needs to be */
    height: 70%; /* Adjust this to the desired height */
    border-top-left-radius: 10%; /* Rounded corners for the top left */
    border-top-right-radius: 10%; /* Rounded corners for the top right */
    border: #000 11px solid; /* Black border around the piano */
}

/* Styling for the title above the piano keys */
.piano-title {
    color: #FFFFFF; /* White color for the text */
    font-size: 5vh; /* Adjust size as needed */
    text-align: center; /* Center the title */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 10%; /* Space between the title and the keys */
    font-family: 'Creepster'; /* Use the Creepster font */
}

/* Defines the layout and appearance of the piano keys */
.keys {
    position: relative; /* Needed to position black keys absolutely */
    display: flex; /* Align keys horizontally */
    justify-content: center; /* Center keys */
    cursor: pointer; /* Change cursor to pointer on hover */
    height: 70%; /* Adjust this to the desired height */
    width: 100%; /* Adjust this to the desired width */
}

/* Styling for the key containers */
.left-key-container, .right-key-container {
    flex: 1; /* Allocate equal space for the left and right containers */
}

/* Adjust the middle container to be larger */
.middle-key-container {
    flex: 1.4; /* Allocate more space for the middle container */
}

/* Styling for the key containers */
.right-key-container, .middle-key-container, .left-key-container {
    position: relative; /* Add this line */
    display: flex; /* Align keys horizontally */
    border: #000000 11px solid; /* Black border around the keys */
    border-radius: 20px; /* Rounded corners for the container */
}

/* Styling for the individual keys */
.key-white-middle {
    width: 25%; /* Adjust this to the desired width */
}

/* Styling for the individual keys */
.key-white-outer, .key-white-middle, .key-black-outer, .key-black-middle {
    position: relative; /* Position relatively */
    outline: none !important; /* Remove the default focus outline */
}

/* Styling for the individual keys */
.key-white-outer, .key-white-middle {
    background-color: #fff; /* White color for the keys */
    height: 100%; /* Adjust this to the desired height */
    border: 1px solid #000; /* Black border around the keys */
    border-radius: 10px; /* Rounded corners */
    z-index: 1; /* Ensure keys are above the black keys */
}

/* Styling for the individual keys */
.key-white-outer {
    width: 40%; /* Adjust this to the desired width */
}

/* Styling for the individual keys */
.key-black-outer, .key-black-middle {
    background-color: #000; /* Black color for the keys */
    height: 40%; /* Adjust this to the desired height */
    position: absolute; /* Position absolutely */
    border-radius: 10px; /* Rounded corners */
    z-index: 2; /* Ensure keys are above the white keys */
}

/* Styling for the individual keys */
.key-black-middle {
    width: 15%; /* Adjust this to the desired width */

}

/* Styling for the individual keys */
.key-black-outer {
    width: 20%; /* Adjust this to the desired width */

}

/* Adjust percentage based on actual positioning */
#keyW { left: 23%; } /* Each key needs a specific left value */
#keyE { left: 58%; } /* Each key needs a specific left value */
#keyT { left: 18%; } /* Each key needs a specific left value */
#keyY { left: 43%; } /* Each key needs a specific left value */
#keyU { left: 68%; } /* Each key needs a specific left value */
#keyO { left: 23%; } /* Each key needs a specific left value */
#keyP { left: 58%; } /* Each key needs a specific left value */

/* Apply transition to key labels for fade effect */
.key-label-black,
.key-label-white {
    display: block; /* Make sure labels are always in the flow, but invisible when not hovered */
    position: absolute; /* Position absolutely */
    top: 80%; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    font-size: 1.5vh; /* Adjust size as needed */
    pointer-events: none; /* Prevents labels from blocking clicks */
    opacity: 0; /* Start invisible */
    transition: opacity 1.3s ease; /* Smooth transition for the fade in/out */
}

/* Adjust the color of the key labels based on the key color */
.keys:hover .key-label-black,
.keys:hover .key-label-white {
    opacity: 1; /* Fully visible on hover */
}
.key-label-white {
    color: #000; /* Set color depending on key color */
}
.key-label-black {
    color: #fff; /* Set color depending on key color */
}

/* Styling the description of the project */
.description {
    margin-top: 2%; /* Adjust as needed */
    text-align: center; /* Center-align text */
    max-width: 80%; /* Limit width to prevent overflow */
    height: 10%; /* Adjust as needed */
}
.description p {
    font-size: 1.5vh; /* Adjust as needed */
}

/* Decorative line styling after the description for visual separation */
.description::after {
    content: "";
    display: block;
    height: 1px; /* Line thickness */
    background-color: #000000; /* Line color */
    width: 80%; /* Line width */
    margin: auto; /* Space above and center alignment */
    
}

/* Great old one image styling */
#greatOldOneImage {
    border-radius: 10px; /* Rounded corners for the container */
    width: 50%; /* Only as wide as it needs to be */
    height: 70%; /* Adjust this to the desired height */
    border-top-left-radius: 10%; /* Rounded corners for the top left */
    border-top-right-radius: 10%; /* Rounded corners for the top right */
    position: relative; /* Needed to position the title over the image */
    display: none; /* Initially hidden */
    opacity: 0; /* Start invisible */
    transition: opacity 2s ease-in-out; /* Smooth transition for the fade in */
}

/* Styling for the title in the great old one image */
#awokenTitle {
    display: none; /* Initially hidden */
    position: absolute; /* Position absolutely */
    top: 25%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    color: #FFFFFF; /* Adjust the color as needed */
    font-size: 2em; /* Adjust size as needed */
    font-weight: bold; /* Make the title bold */
    font-family: 'Creepster'; /* Use the Creepster font */
    text-align: center; /* Center the title */
    z-index: 3; /* Ensure it's above the image */
    opacity: 0; /* Start invisible */
    transition: opacity 2s ease-in-out; /* Smooth transition for the fade in */
}