<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anna Phan</title>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=EB+Garamond:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/travel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/about.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/contact.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
</head>

<body>
  <header></header>

  <nav>
    <div class="menu-icon">
      <input type="checkbox" id="menu"/>
      <label for="menu">
      <img src="../static/main/images/menu-bar.png" class="menu-icon-img"/>
      </label>
      <div class="menu-items">
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('travel') }}">Travel</a></li>
            <li><a href="{{ url_for('projects') }}">Art</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="https://www.mercari.com/u/613576771?sv=0" target="_blank">Shop</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
      </div>
    </div>

    <div class="navbar-left">
      <a>Anna Phan</a>
    </div>

    <div class="navbar-right">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('travel') }}">Travel</a>
        <a href="{{ url_for('projects') }}">Art</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="https://www.mercari.com/u/613576771?sv=0" target="_blank">Shop</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </div>
  </nav>

  <main>
    {% block maincontent %}{% endblock %}
  </main>

  <footer>
    <div class="footer-container">
      <p>© 2024 Anna's Artventures</p>
    </div>
  </footer>
</body>

</html>








