/* Footer styling for consistent layout and appearance across devices */
footer {
    display: flex; /* Enables flexible box layout */
    flex-direction: column; /* Aligns children vertically */
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    width: 100%; /* Ensures footer spans the entire width of the viewport */
    height: 5vh; /* Sets a relative height based on the viewport size */
    background-color: #ffffff; /* Subtle gray background */
}

.footer-container p {
    font-size: 1rem; 
    font-family: 'EB Garamond', serif;
}
