header {
    width: 100%;
    height: 250px;
    background-image: 
        linear-gradient(to bottom, rgba(255,255,255,0) -10%, rgba(255,255,255,1) 100%), /* White gradient */
        url('../images/banner.png'); 
        background-position: bottom 10%;
}
