/* Reset default margin and padding for all elements */
body {
    margin: 0;
}
/* Main content area */
main {
    background-image: url('../images/background.jpg'); /* Set the background image */
    background-color: rgba(255, 255, 255, 0.5); /* Use a semi-transparent white background */
    background-blend-mode: lighten; /* Blend the image and color */
    background-size: auto; /* Change from 'cover' to 'auto' */
    background-repeat: repeat; /* Ensures the background image repeats */
    width: 100%; /* Adjust this to the desired width */
    height: auto; /* Adjust this to the desired height */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center content vertically */
}

/* Style for rows within the content area */
.content-row {
    display: flex; /* This is crucial */
    width: 80%; /* Or your desired width */
    margin: auto; /* Center the row if needed */
    align-items: stretch; /* This will make the children stretch to fill the container */
}


.photo-column, .text-column {
    flex: 1; /* This allows them to grow and take up available space equally */
}

/* Specific styling for the photo column */
.photo-column {
    margin-top: 50px; /* Add space above the column */
}



/* Specific styling for images within the photo column */
.photo-column img {
    width: auto; /* Let the image's width be dictated by its natural size */
    max-width: 100%; /* Ensure image is not stretched wider than its container */
    height: auto; /* Maintain the image's aspect ratio */
}


/* text column to manage content overflow and alignment */
.text-column {
    overflow-y: auto; /* Allows vertical scrolling */
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stacks children elements vertically */
    justify-content: flex-start; /* Aligns children (text) to the start of the flex container */
    align-items: center; /* Centers items horizontally */
    margin-left: 50px; /* Add space between the columns */
}

.text-column h1 {
    font-family: 'EB Garamond', serif;
    font-size: 4vh;
    font-weight: normal;
}

.text-column p {
    font-family: 'EB Garamond', serif;
    font-size: 2vh;
}

/* Responsive design adjustments for smaller screens */
@media screen and (max-width: 650px) {
    .content-row {
        flex-direction: column; /* Stack children vertically */
        height: auto; /* Remove fixed height */
    }
    main {
        height: auto; /* Remove fixed height */
    }

    .text-column {
        overflow: visible; /* Make text overflow visible */
        margin-left: 0; /* Remove left margin */
    }
}

/* Styling for a decorative line before the bottom page content */
.bottom-page::before {
    content: ""; /* Necessary for ::before to work, but no actual text content */
    display: block; /* Treats the pseudo-element as a block for layout */
    height: 1px; /* Line thickness */
    background-color: #000000; /* Line color */
    width: 80vw; /* Line width */
    margin: 1vh auto; /* Space above and center alignment */
}

/* Centered text styling for bottom page content */
.bottom-page {
    text-align: center; /* Center-align text */
    max-width: 80vw; /* Limit width to prevent overflow */
}

/* Centered text styling for top page content */
.description {
    text-align: center; /* Center-align text */
    max-width: 80vw; /* Limit width to prevent overflow */
    margin-top: 2.6vh; /* Adjust as needed */
}

/* Decorative line styling after the description for visual separation */
.description::after {
    content: "";
    display: block;
    height: 1px; /* Line thickness */
    background-color: #000000; /* Line color */
    width: 80vw; /* Line width */
    margin: 1vh auto; /* Space above and center alignment */
}
