/* General styling for the navigation bar */
nav {
    height: auto; /* Allows the navbar to adjust its height based on content */
    width: 100%; /* Ensures the navbar spans the full width of the viewport */
    background-color: rgba(255, 255, 255, 0.7); /* White with 80% opacity */
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Center the .navbar within the nav */
    align-items: center; /* Vertically centers the content within the nav */
}

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80vw; /* Ensures the navbar spans the full width of the viewport */
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Distributes space between items, pushing them to the edges */
    align-items: center; /* Vertically centers the content within the navbar */
}

/* Customizes the appearance of links within the navbar-right section */
.navbar a {
    color: #2e2e2e; /* Ensures text is white for readability */
    font-size: clamp(15px, 2vw, 27px); /* Ensures the font size is at least 14px, no more than 18px, and otherwise 2vw */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none; /* Removes underline from links for a cleaner look */
    margin-right: 7vw; /* Adds spacing between individual links */
}

/* Change opacity on hover for links */
.navbar a:hover, .dropdown-label:hover {
    opacity: 0.5; /* Adjust as needed */
}


/* Dropdown container */
.dropdown {
    position: relative; /* For absolute positioning of the dropdown content */
}

/* Style for non-clickable country label */
.dropdown-label {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px 14px; /* top, right, bottom, left padding */
    color: #2e2e2e; /* Color of the country label text */
    font-family: 'Montserrat', sans-serif; /* Font family for the country labels */
    font-size: clamp(15px, 2vw, 27px); /* Ensures the font size is at least 14px, no more than 18px, and otherwise 2vw */
    cursor: default; /* Default cursor for the non-clickable label */
}

/* Dropdown content (first level) */
.dropdown-content {
    opacity: 0; /* Start with an opacity of 0 for a fade effect */
    position: absolute;
    top: calc(100% + 30px); /* Adjusted to include navbar padding */
    left: -10px;
    background-color: rgba(255, 255, 255, 0.7); /* White with 80% opacity */
    z-index: 1;
    min-width: 150px;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Fade effect */
    visibility: hidden; /* Start with the dropdown invisible */
}

/* Display first-level dropdown content on hover */
.dropdown:hover .dropdown-content {
    opacity: 1; /* Fade in to full visibility */
    visibility: visible; /* Make the dropdown visible */
    transition-delay: 0s, 0s; /* No delay when showing the dropdown */
}

/* Styles for the dropdown links */
.dropdown-content a {
    margin-right: 0; /* Removes the margin for dropdown items */
    box-sizing: border-box; /* Ensures padding and border are included in the width/height */
    text-decoration: none;
    white-space: nowrap; /* Prevents text from wrapping */
    color: #2e2e2e; /* Text color for dropdown links */
    padding: 0px 14px; /* Padding for the country label */
    margin-bottom: 15px;
    margin-top: 15px;
    display: block; /* Each link takes up the full width of the container */
    font-family: 'Montserrat', sans-serif; /* Font family for the dropdown links */
    font-size: clamp(15px, 2vw, 27px); /* Ensures the font size is at least 14px, no more than 18px, and otherwise 2vw */
}

/* Submenu for second-level dropdown */
.dropdown-submenu {
    position: relative;
}

/* Second-level dropdown content */
.dropdown-content-submenu {
    top: -15px;
    width: auto; /* Adjust as needed */
    opacity: 0; /* Start with an opacity of 0 for a fade effect */
    position: absolute;
    left: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* White with 80% opacity */
    z-index: 2;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Fade effect */
    visibility: hidden; /* Start with the submenu invisible */
    position: absolute; /* Absolute positioning */
}

/* Display second-level dropdown content on hover */
.dropdown-submenu:hover .dropdown-content-submenu {
    opacity: 1; /* Fade in to full visibility */
    visibility: visible; /* Make the submenu visible */
    transition-delay: 0s, 0s; /* No delay when showing the submenu */
}

/* Change background color on hover for second-level dropdown links */
.dropdown-content-submenu a:hover {
    background-color: #f1f1f1;
}