{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="content-row-travel">
    <div class="photo-column-travel">
        <img src="../../../static/main/images/USA/Michigan/mich-1.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-2.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-3.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-4.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-5.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-6.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-7.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-8.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-9.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-10.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-11.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-12.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-13.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-14.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-15.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-16.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-17.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-18.jpg">
        <img src="../../../static/main/images/USA/Michigan/mich-18.jpg">
    </div>
    <div class="text-column-travel">

    <div class="title-area-travel">
        <h1>FALL IN MICHIGAN</h1>
        <h2>⚲ Michigan, USA</h2>
        <h3>October 20 2023</h3>
        <div class="link-container">
            <a href="{{ url_for('static', filename='main/pdf-documents/USA-pdf/Fall Michigan RoadTrip Car Camping.pdf') }}" class="download-link" download>Itinerary</a>
        </div>
    </div>
    
    <p class="paragraph-travel"> 
        Fall in Michigan!  It's like stepping into a picture perfect postcard, with vibrant colors painting the landscape in hues of red, orange, and gold. My journey took me from the charming Mackinac Island to the quaint town of Mackinaw City, where the beauty of nature surrounds you at every turn.
    </p>
    <p class="paragraph-travel"> 
        Speaking of beauty, Mackinac Island stole my heart with its little cute streets and stunning shores. There's something so magical about walking along the coastline, with the fresh scent of the lake in the air and the sound of waves crashing against the rocks.
    </p>
    <p class="paragraph-travel"> 
        Of course, no trip to Michigan would be complete without indulging in some local delicacies. The white fish from Lake Superior is simply amazing, especially when served up as fish and chips. It's the perfect comfort food to enjoy after a day of exploring the best spots in the state.
    </p>
    <p class="paragraph-travel">
        But the most inspiring part of my journey was driving through the Upper Peninsula. The scenery is nothing short of spectacular, with dense forests, crystal clear lakes, and towering cliffs that seem to stretch up to the sky. And when I reached the Lake of Clouds overlook, I knew I had found nature's beauty.
    <p class="paragraph-travel">
        Fall in Michigan is truly a magical time, and I feel so lucky to have experienced its beauty firsthand. From Mackinac Island to the Upper Peninsula, every moment was filled with wonder and joy. It's a trip I'll never forget, especially in the Fall.
    </p>
  </div>
</div>

<div class="contact-links">
  <a href="https://www.instagram.com/annaaphan/" target="_blank" class="contact-link-small">
    <img src="{{ url_for('static', filename='main/images/instagram_icon.jpg') }}" alt="Instagram">
  </a>
  <a href="https://Linkedin.com/in/phannav" target="_blank" class="contact-link-small">
    <img src="{{ url_for('static', filename='main/images/social-linkedin.jpg') }}" alt="LinkedIn">
  </a>
  <a href="mailto:Phan.annavo@gmail.com" class="contact-link-small">
    <img src="{{ url_for('static', filename='main/images/mail-logo.jpg') }}" alt="Email">
  </a>
  <a href="https://www.tiktok.com/@annaaphan?_t=8lQScYPhHpK&_r=1" target="_blank" class="contact-link-small">
      <img src="{{ url_for('static', filename='main/images/tiktok-logo.jpg') }}" alt="TikTok">
    </a>
</div>
{% endblock %}


